# source code
src/

# github config
.github/
.gitignore
.gitkeep

# vscode config
.vscode/

# devDependencies
node_modules/

# CI config
.travis.yml

# jest
jest.config.js
coverage/
__test__/
test/

# ts config file
tsconfig.json
tslint.json

# webpack config file
webpack.config.js
webpack.config.esm.js

.vscode
yarn.lock
*.md
local_*/
*.LICENSE.txt
.github/
LICENSE
prettier.config.js
*.html
.node-version
.editorconfig
rollup.dts.config.js
tsconfig.json
